<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<style>
    .my-footer{
        height: 3em;
        padding: 2em;
        background-color: #10101c;
        margin-top: 1.5em;
        color: #ffffff;
        font-size: 100%;

    }

    .room-image{
        max-width: 50%;
    }

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tire-change.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservation.html">Book Now</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<!-- a container is split to 12 cols-->
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="text-center em-4"><strong>Contact</strong></h1>
            <p>
            <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Location of tire-change workshops</th>
                    <th style="text-align: center; vertical-align: middle;">Address</th>
                    <th style="text-align: center; vertical-align: middle;">Vehicle types to be serviced</th>
                </tr>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">Manchester</td>
                    <td style="text-align: center; vertical-align: middle;">14 Bury New Rd, Manchester</td>
                    <td style="text-align: center; vertical-align: middle;">Car, Truck</td>
                </tr>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">London</td>
                    <td style="text-align: center; vertical-align: middle;">1A Gunton Rd, London</td>
                    <td style="text-align: center; vertical-align: middle;">Car</td>
                </tr>
            </table>
            </p>
        </div>

    </div>



</div>

<div class="row my-footer">
    <div class="col">
        SMIT
    </div>
    <div class="col">
        homework
    </div>
    <div class="col">
        tire-change booking system
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

</body>
</html>